*{
    h1{
        margin: 0;
        font-family: "estilo1", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-left: 3vw;
        padding-bottom: 0.3vw;
        background-image: linear-gradient(to right,$color-6, lighten($color-6, 9%));
        color: $color-1;
        
        font-weight: 800;
    }
}

body{
    background: $gradient-body;
}