/* Color Theme Swatches in Hex */
$color-1: #D9D9D9;
$color-2: #D9B18F;
$color-3: #545159;
$color-4: #403B38;
$color-5: #0D0D0D;
$color-6: #D3C29A;
$color-7: #bbc1ba;
$gradient-body: linear-gradient(to right, $color-1,$color-7);