
    @font-face {
        font-family: 'estilo1';
        src:    url(../../assets/fonts/Allura-Regular.ttf) format("ttf"),
                url(../../assets/fonts/Allura-Regular.woff) format("woff");
        font-style: normal;
        font-weight: normal;
    }
    