.home{
    margin: 0;
    padding: 0;
    &__logo{
        position: absolute;
        width: calc(50%);
        right: 5%;
        top: 20vw;

    }

    &__portada {
        width: calc(100%);
    }

}