.card{
    border-radius: 1rem;
    background: $color-3;

    & p{
        color: $color-1;
        padding: 0;margin: 0;
    }
}

.card-content{
    color: $color-1;
}

.card-action{
    background-color: #000;
    
}