.nav-wrapper{
    box-shadow: 0px 2px 2px 1px $color-6;
    
    a{
        color: $color-4;
    }
    
    img{
        height: calc(100%);
        padding: 0.5rem;
    }

    &__icons{
        margin-right: 20px;
        margin-left: 20px;
    }

    i{
        color: $color-4;
        padding-left: 6px;
        padding-right: 6px;
        opacity: 0.5;
    }

    i:hover{
        transition: 0.5s;
        opacity: 0.8;
        color: $color-6;
    }
} 